<div class="tabs-content mt-4">
  <!-- Вкладка "Карточки" -->
  <ng-container *ngIf="(lessonTabsService.activeTab$ | async) === 'cards'">
    <ng-content select="[tab-content-cards]"></ng-content>
  </ng-container>

  <!-- Вкладка "Урок" -->
  <ng-container *ngIf="(lessonTabsService.activeTab$ | async) === 'lesson'">
    <ng-content select="[tab-content-lesson]"></ng-content>
  </ng-container>

  <!-- Вкладка "Домашняя работа" -->
  <ng-container *ngIf="(lessonTabsService.activeTab$ | async) === 'homework'">
    <ng-content select="[tab-content-homework]"></ng-content>
  </ng-container>
</div>
