<div class="gabarit-overlay" (click)="close()" *ngIf="visible">
  <div class="gabarit" (click)="$event.stopPropagation()">
    <h3>Matériel du cours ({{ getLessonDate() | date: 'dd/MM/yyyy' }})</h3>

    <!-- 📄 Textes -->
    <div class="zone text-zone">
      <div class="zone-header">
        <span>📝 Textes</span>
        <button *ngIf="!readonly" (click)="add('text')">➕</button>
      </div>
      <div *ngIf="!readonly" cdkDropList [cdkDropListData]="getTextsStringArray()" (cdkDropListDropped)="onDrop($event, 'texts')">
        <div *ngFor="let t of texts" cdkDrag class="item">{{ getItemString(t) }}</div>
      </div>
      <div *ngIf="readonly">
        <div *ngFor="let t of texts" class="item">{{ getItemString(t) }}</div>
      </div>
    </div>

    <!-- 🎧 Audios -->
    <div class="zone audio-zone">
      <div class="zone-header">
        <span>🔊 Audios</span>
        <button *ngIf="!readonly" (click)="add('audio')">➕</button>
      </div>
      <div *ngIf="!readonly" cdkDropList [cdkDropListData]="getAudiosStringArray()" (cdkDropListDropped)="onDrop($event, 'audios')">
        <div *ngFor="let a of audios" cdkDrag class="item">{{ getItemString(a) }}</div>
      </div>
      <div *ngIf="readonly">
        <div *ngFor="let a of audios" class="item">{{ getItemString(a) }}</div>
      </div>
    </div>

    <!-- 🎬 Vidéos -->
    <div class="zone video-zone">
      <div class="zone-header">
        <span>🎬 Vidéos</span>
        <button *ngIf="!readonly" (click)="add('video')">➕</button>
      </div>
      <div *ngIf="!readonly" cdkDropList [cdkDropListData]="getVideosStringArray()" (cdkDropListDropped)="onDrop($event, 'videos')">
        <div *ngFor="let v of videos" cdkDrag class="item">{{ getItemString(v) }}</div>
      </div>
      <div *ngIf="readonly">
        <div *ngFor="let v of videos" class="item">{{ getItemString(v) }}</div>
      </div>
    </div>

  </div>
</div>
