<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!isLessonMaterialRoute">
  <div class="d-flex align-items-center">
    <!-- Кнопка с иконкой для открытия панели -->
    <button class="btn btn-light p-2 me-3" id="expandHeaderButton" (click)="toggleExpandHeader()"
      style="border-radius: 8px;">
      <i class="fas fa-th"></i> <!-- Иконка сетки -->
    </button>
  </div>

  <!-- Панель, которая раскрывает весь header -->
  <div class="expanded-header bg-white shadow-lg" *ngIf="isHeaderExpanded"
    style="width: 100%; position: absolute; top: 100%; left: 0; z-index: 1040;">
    <div class="container p-4">
      <div class="d-flex justify-content-center">
        <!-- Карточка Администратора -->
        <div class="card text-center p-3 mx-2" style="width: 200px; cursor: pointer;" (click)="switchToAdmin()">
          <img src="assets/icons/admin-icon.png" alt="Администратор" class="mb-2" style="width: 40px;">
          <h6 class="mb-1">Администратор</h6>
          <span class="badge bg-success mb-2">Активен</span>
          <p class="small text-muted">Административный кабинет школы</p>
        </div>

        <!-- Карточка Ученик -->
        <div class="card text-center p-3 mx-2" style="width: 200px; cursor: pointer;" (click)="switchToStudent()">
          <img src="assets/icons/student-icon.png" alt="Кабинет ученика" class="mb-2" style="width: 40px;">
          <h6 class="mb-1">Кабинет ученика</h6>
          <span class="badge bg-success mb-2">Активен</span>
          <p class="small text-muted">Получайте знания в интерактивном формате</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid d-flex justify-content-end align-items-center">
    <!-- Dropdown для помощи -->
    <div class="dropdown mx-2">
      <button class="btn btn-outline-primary dropdown-toggle d-flex align-items-center" type="button" id="helpDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-rocket me-2"></i> Помощь
      </button>
      <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="helpDropdown"
        style="width: 250px; border-radius: 8px;">
        <h6 class="mb-3 d-flex align-items-center">
          <i class="fas fa-school me-2 text-primary"></i> С чего начать
        </h6>
        <ul class="list-unstyled mb-0">
          <li><a class="dropdown-item" href="#" (click)="openTourModal(); $event.preventDefault()">Демо-тур</a></li>
          <li><a class="dropdown-item" href="/youtube-channel">YouTube-канал</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/support">Техподдержка</a></li>
        </ul>
      </div>
    </div>

    <!-- Guided Tour Modal -->
    <div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': isTourModalOpen }"
      style="background-color: rgba(0, 0, 0, 0.5);" *ngIf="isTourModalOpen">
      <div class="modal-dialog modal-dialog-centered"
        [ngStyle]="{ position: modalPosition, top: modalTop, left: modalLeft }">
        <div class="modal-content p-4">
          <div class="modal-header">
            <h5 class="modal-title">{{ tourSteps[currentStep].title }}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeTourModal()"></button>
          </div>
          <div class="modal-body">
            <p>{{ tourSteps[currentStep].content }}</p>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <div>
              <!-- Кнопка "Назад" видна только начиная со второго шага -->
              <button *ngIf="currentStep > 0" class="btn btn-secondary" (click)="previousStep()">Назад</button>
            </div>
            <div>
              <!-- Отображение текущего и общего числа шагов -->
              <span>{{ currentStep + 1 }} из {{ tourSteps.length }}</span>
              <!-- Кнопка "Далее" -->
              <button *ngIf="currentStep < tourSteps.length - 1" class="btn btn-primary"
                (click)="nextStep()">Далее</button>
              <!-- Кнопка "Завершить" на последнем шаге -->
              <button *ngIf="currentStep === tourSteps.length - 1" class="btn btn-primary"
                (click)="closeTourModal()">Завершить</button>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- Dropdown для информации о тарифе -->
    <div class="dropdown mx-2">
      <button class="btn btn-danger d-flex align-items-center dropdown-toggle" type="button" id="tariffDropdown"
        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 16px; padding: 5px 10px;">
        <i class="fas fa-crown me-2"></i> 0 дн.
      </button>
      <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="tariffDropdown"
        style="width: 250px; border-radius: 8px;">
        <h6 class="text-center">Информация о тарифе</h6>
        <div class="text-center my-2">
          <i class="fas fa-exclamation-triangle text-danger" style="font-size: 24px;"></i>
        </div>
        <p class="text-center text-muted mb-2">Тариф не оплачен. Оплатите тариф для возобновления доступа к платформе.
        </p>
        <a class="btn btn-primary w-100" href="/tariffs">Перейти к тарифам</a>
      </div>
    </div>

    <div class="dropdown mx-2">
      <button class="btn btn-outline-dark dropdown-toggle d-flex align-items-center" type="button" id="balanceDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-wallet me-2"></i> 0 RUB
      </button>
      <div class="dropdown-menu dropdown-menu-end p-3 text-center" aria-labelledby="balanceDropdown"
        style="width: 250px; border-radius: 8px;">
        <h6 class="mb-3">Баланс денежных средств</h6>
        <div class="bg-light p-3 rounded mb-3" style="font-size: 24px; color: #555;">
          0 <span style="font-size: 14px;">RUB</span>
        </div>
        <p class="text-muted mb-3">С баланса школы оплачиваются тарифы, учебники и т.д.</p>
        <button class="btn btn-primary w-100" (click)="openBalanceModal()">Пополнить баланс</button>
      </div>
    </div>

    <!-- Модальное окно пополнения суммы -->
    <div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': showBalanceModal }" role="dialog"
      style="background: rgba(0, 0, 0, 0.5);" *ngIf="showBalanceModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Пополнить баланс</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeBalanceModal()"></button>
          </div>
          <div class="modal-body">
            <div class="text-center mb-3">
              <i class="fas fa-money-bag" style="font-size: 40px; color: #FFD700;"></i>
            </div>
            <p class="text-center">Введите сумму для пополнения баланса вашего аккаунта</p>
            <input type="number" [(ngModel)]="amountToTopUp" class="form-control mb-3" placeholder="0" min="0">
            <p class="text-center">RUB</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="payWithCard()">Пополнить баланс</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Модальное окно для ввода данных карты -->
    <div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': isPaymentModalOpen }"
      style="background-color: rgba(0, 0, 0, 0.5);" *ngIf="isPaymentModalOpen">
      <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content p-4">
          <div class="modal-header">
            <h5 class="modal-title mt-2">Предоставление права доступа к платформе</h5>
            <!-- Кнопка-крестик для закрытия модального окна -->
            <button type="button" class="btn-close" aria-label="Close" (click)="closePaymentModal()"></button>
          </div>
          <div class="modal-body">
            <div class="text-center mb-3">
              <p class="text-primary display-4">{{ amountToTopUp | currency:'RUB':'symbol':'1.2-2' }}</p>
            </div>
            <input type="text" class="form-control mb-3" placeholder="Номер карты">
            <div class="d-flex gap-2">
              <input type="text" class="form-control" placeholder="MM / ГГ">
              <input type="text" class="form-control" placeholder="CVV">
            </div>
            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" id="sendReceipt">
              <label class="form-check-label" for="sendReceipt">Отправить квитанцию на E-mail</label>
            </div>
            <input type="email" class="form-control mb-3" placeholder="Email">
          </div>
          <div class="modal-footer d-flex flex-column gap-2">
            <button type="button" class="btn btn-primary w-100">Оплатить {{ amountToTopUp |
              currency:'RUB':'symbol':'1.2-2' }}</button>
            <button type="button" class="btn btn-warning w-100">
              Оплатить <i class="bi bi-apple"></i>
            </button>
            <button type="button" class="btn btn-dark w-100">
              Оплатить <i class="bi bi-google"></i>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- Иконка пользователя -->
    <div class="dropdown mx-2">
      <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="userDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="user-icon rounded-circle d-flex align-items-center justify-content-center me-2">
          G
        </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="/profile-settings"><i class="fas fa-cog me-2"></i> Настройки профиля</a></li>
        <li><a class="dropdown-item" href="/tariffs"><i class="fas fa-star me-2"></i> Тарифы</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/dark-mode"><i class="fas fa-moon me-2"></i> Темная тема</a></li>
        <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt me-2"></i> Выход</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- Хедер для LessonMaterialComponent -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLessonMaterialRoute">
  <div class="container-fluid">
    <!-- Кнопка "Другой урок" -->
    <div class="d-flex align-items-center">
      <button class="btn btn-primary me-3" (click)="navigateToLesson()">Другой урок</button>
    </div>

    <!-- Блок кнопок и дропдаунов -->
    <div class="d-flex align-items-center justify-content-end">
      <!-- Кнопка "Добавить учеников" -->
      <button class="btn btn-outline-primary me-2" (click)="openStudentTabsModal()">Добавить учеников</button>


      <!-- Кнопка "Пользователи" -->
      <button class="btn btn-outline-secondary me-2" (click)="openUserModal()">Пользователи</button>

      <!-- Dropdown для настроек -->
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" id="settingsDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Настройки
        </button>
        <ul class="dropdown-menu dropdown-menu-end text-start" aria-labelledby="settingsDropdown">
          <li>
            <a class="dropdown-item" href="#" (click)="openStudentListModal(); $event.preventDefault()">
              <i class="fas fa-users me-2"></i> Ученики класса
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fas fa-calendar-alt me-2"></i> Расписание уроков
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fas fa-chart-bar me-2"></i> Статистика класса
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs me-2"></i> Настройки класса
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fas fa-moon me-2"></i> Темная тема
            </a>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="#">
              <i class="fas fa-sign-out-alt me-2"></i> Выйти из класса
            </a>
          </li>
        </ul>
      </div>

      <button class="btn btn-outline-danger ms-2" (click)="openLeaveClassModal()">
        <i class="fas fa-sign-out-alt me-2"></i> Выйти
      </button>
    </div>
  </div>
</nav>

<!-- Модальное окно для пользователей -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': isUserModalOpen }" *ngIf="isUserModalOpen"
  style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Пользователи</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeUserModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let user of users" class="user-card d-flex align-items-center mb-3 position-relative">
          <!-- Иконка пользователя -->
          <div class="position-relative me-3">
            <div
              class="user-icon rounded-circle bg-primary text-white d-flex align-items-center justify-content-center">
              {{ user.initials }}
            </div>
            <div class="online-indicator" (mouseenter)="showTooltip(user.role)" (mouseleave)="hideTooltip()">
              <i class="fas fa-circle text-success"></i>
              <div class="tooltip" *ngIf="tooltipVisible === user.role">Ученик в классе</div>
            </div>
          </div>

          <!-- Подсказка -->
          <div *ngIf="tooltipVisible === user.role" class="tooltip-container position-absolute">
            {{ getTooltipText(user.role) }}
          </div>

          <!-- Информация о пользователе -->
          <div>
            <p class="mb-0 fw-bold">{{ user.name }}</p>
            <p class="mb-0 text-muted small">
              <i class="fas fa-id-badge me-1"></i> {{ user.id }}
            </p>
            <p class="mb-0 text-muted small">
              <i class="fas fa-envelope me-1"></i> {{ user.email }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="openStudentListModal()">Посмотреть всех учеников</button>
      </div>
    </div>
  </div>
</div>


<!-- Модальное окно "Посмотреть всех учеников" -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': showStudentListModal }" *ngIf="showStudentListModal"
  style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Список учеников</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeStudentListModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let student of allStudents" class="user-card d-flex align-items-center mb-3">
          <div class="position-relative me-3">
            <div
              class="user-icon rounded-circle bg-primary text-white d-flex align-items-center justify-content-center">
              {{ student.initials }}
            </div>
            <div class="online-indicator" *ngIf="student.online" (mouseenter)="showTooltip(student.name)"
              (mouseleave)="hideTooltip()">
              <i class="fas fa-circle text-success"></i>
              <div class="tooltip" *ngIf="tooltipVisible === student.name">Ученик онлайн</div>
            </div>
          </div>
          <div>
            <p class="mb-0">{{ student.name }}</p>
            <small class="text-muted">
              <i class="fas fa-id-badge me-2"></i>{{ student.id }}
            </small>
            <br />
            <small class="text-muted">
              <i class="fas fa-envelope me-2"></i>{{ student.email }}
            </small>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary w-100" (click)="openAddAdditionalStudentModal()">
        <i class="fas fa-plus me-2"></i> Добавить ученика
      </button>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': showAddAdditionalStudentModal }"
  *ngIf="showAddAdditionalStudentModal" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <!-- Заголовок -->
      <div class="modal-header border-0">
        <!-- Кнопка "Назад", если активен второй экран -->
        <button *ngIf="currentModalView === 'link'" class="btn btn-outline-secondary"
          (click)="switchModalView('default')">
          <i class="fas fa-arrow-left"></i>
        </button>
        <!-- Кнопка "Закрыть" -->
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddAdditionalStudentModal()"></button>
      </div>

      <div class="modal-body text-center">
        <!-- Отображение по умолчанию -->
        <ng-container *ngIf="currentModalView === 'default'">
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn.cloudstori.com/shells/words_shell/words_shell_3.1.5.15/img/Emoji-138.2e600385.png');
              width: 100px;
              height: 100px;
              background-size: cover;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold">Добавить ученика</h5>
          <div class="d-grid gap-3 mt-4">
            <button class="btn btn-light py-2" (click)="switchModalView('link')">
              <i class="fas fa-link me-2"></i> Добавить по ссылке
            </button>
            <button class="btn btn-light py-2" (click)="switchModalView('email')">
              <i class="fas fa-envelope me-2"></i> Добавить по эл. почте
            </button>
            <button (click)="switchModalView('existing')"><i class="fas fa-users me-2"></i> Выбрать из
              существующих</button>
          </div>
        </ng-container>

        <!-- Отображение "Добавить по ссылке" -->
        <ng-container *ngIf="currentModalView === 'link'">
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/847/847969.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold">Добавить по ссылке</h5>
          <div class="form-group mt-3">
            <input type="text" class="form-control text-center" readonly [value]="inviteLink" />
          </div>
          <button class="btn btn-primary mt-3" (click)="copyLink()">
            Скопировать ссылку
          </button>
          <div class="alert alert-info mt-3 text-start" role="alert">
            <i class="fas fa-info-circle me-2"></i>
            Отправьте эту ссылку ученику — он сможет зарегистрироваться или войти
            в свой аккаунт и автоматически присоединиться к этому классу.
          </div>
        </ng-container>

        <ng-container *ngIf="currentModalView === 'email'">
          <button class="btn btn-light border-0 shadow-none position-absolute start-0 mt-2 ms-2"
            (click)="switchModalView('default')">
            <i class="fas fa-arrow-left"></i>
          </button>
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/561/561127.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold">Добавить по эл. почте</h5>
          <form>
            <div class="form-group mb-3">
              <label for="studentName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="studentName" placeholder="Имя ученика" />
            </div>
            <div class="form-group mb-3">
              <label for="studentEmail" class="form-label">Почта</label>
              <input type="email" class="form-control" id="studentEmail" placeholder="Email ученика" />
            </div>
            <div class="form-group mb-3">
              <label for="studentPhone" class="form-label">Телефон</label>
              <input type="tel" class="form-control" id="studentPhone" placeholder="Телефон ученика" />
            </div>
            <div class="form-group mb-3">
              <label for="studentLanguage" class="form-label">Язык</label>
              <select class="form-control" id="studentLanguage">
                <option>Выберите язык</option>
                <option>Русский</option>
                <option>Английский</option>
                <option>Французский</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="studentTimezone" class="form-label">Час. пояс</label>
              <input type="text" class="form-control" id="studentTimezone" placeholder="07:42 (UTC-2)" />
            </div>
            <button class="btn btn-primary w-100">Добавить</button>
          </form>
        </ng-container>
        <ng-container *ngIf="currentModalView === 'existing'">
          <button class="btn btn-light border-0 shadow-none position-absolute start-0 mt-2 ms-2"
            (click)="switchModalView('default')">
            <i class="fas fa-arrow-left"></i>
          </button>
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/4086/4086679.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold text-center">Выбрать из существующих</h5>
          <div class="list-group">
            <tr *ngFor="let student of getAvailableStudents()" (click)="selectStudent(student)"
              [class.selected]="selectedStudent?.id === student.id">
              <td>{{ student.name }}</td>
              <td>
                <!-- Отображение значка только для выбранного студента -->
                <i class="fas fa-check-circle" *ngIf="selectedStudent?.id === student.id" style="color: green;"></i>
              </td>
            </tr>
          </div>

          <div class="mt-3">
            <button class="btn btn-primary w-100" [disabled]="!selectedStudent" (click)="addSelectedStudent()">
              Добавить ученика
            </button>
          </div>
        </ng-container>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': showStudentTabsModal }" *ngIf="showStudentTabsModal" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header border-0">
        <h5 class="modal-title">Добавить ученика</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeStudentTabsModal()"></button>
      </div>

      <!-- Вкладки -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: activeTab === 'link' }" (click)="switchTab('link')">По ссылке</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: activeTab === 'email' }" (click)="switchTab('email')">Вручную</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: activeTab === 'existing' }" (click)="switchTab('existing')">Существующего</a>
        </li>
      </ul>

      <!-- Содержимое вкладок -->
      <div class="modal-body">
        <!-- Вкладка "По ссылке" -->
        <div *ngIf="activeTab === 'link'">
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/847/847969.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold">Добавить по ссылке</h5>
          <input type="text" class="form-control text-center mt-3" readonly [value]="inviteLink" />
          <button class="btn btn-primary mt-3" (click)="copyLink()">Скопировать ссылку</button>
          <div class="alert alert-info mt-3" role="alert">
            <i class="fas fa-info-circle me-2"></i>
            Отправьте эту ссылку ученику — он сможет зарегистрироваться или войти в свой аккаунт и автоматически присоединиться к этому классу.
          </div>
        </div>

        <!-- Вкладка "Вручную" -->
        <div *ngIf="activeTab === 'email'">
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/561/561127.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold">Добавить вручную</h5>
          <form>
            <div class="mb-3">
              <label class="form-label">Имя</label>
              <input type="text" class="form-control" placeholder="Имя ученика" />
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email ученика" />
            </div>
            <button class="btn btn-primary w-100">Добавить</button>
          </form>
        </div>

        <!-- Вкладка "Существующего" -->
        <div *ngIf="activeTab === 'existing'">
          <div class="circle mx-auto mb-3" style="
              background-image: url('https://cdn-icons-png.flaticon.com/512/4086/4086679.png');
              width: 80px;
              height: 80px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 50%;
            "></div>
          <h5 class="modal-title fw-bold text-center">Выбрать из существующих</h5>
          <ul class="list-group">
            <li *ngFor="let student of getAvailableStudents()" class="list-group-item d-flex justify-content-between align-items-center" (click)="selectStudent(student)" [class.selected]="selectedStudent?.id === student.id">
              {{ student.name }}
              <i class="fas fa-check-circle text-success" *ngIf="selectedStudent?.id === student.id"></i>
            </li>
          </ul>
          <button class="btn btn-primary w-100 mt-3" [disabled]="!selectedStudent" (click)="addSelectedStudent()">Добавить ученика</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{ 'show d-block': showLeaveClassModal }" *ngIf="showLeaveClassModal" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Выйти из класса</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeLeaveClassModal()"></button>
      </div>
      <div class="modal-body text-center">
        <div class="circle mx-auto mb-3" style="
              background-color: #d9eaf7;
              color: #007bff;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 80px;
              height: 80px;
              border-radius: 50%;
            ">
          <i class="fas fa-info-circle" style="font-size: 36px;"></i>
        </div>
        <p>Вы действительно хотите выйти из класса?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-outline-secondary" (click)="closeLeaveClassModal()">Отмена</button>
        <button class="btn btn-danger" (click)="confirmLeaveClass()">Выйти</button>
      </div>
    </div>
  </div>
</div>
