<div class="calendar-controls">
  <button mat-icon-button (click)="goToPreviousWeek()" aria-label="Semaine précédente">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span class="calendar-date">{{ viewDate | date: 'fullDate':'':'fr' }}</span>

  <button mat-icon-button (click)="goToNextWeek()" aria-label="Semaine suivante">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>


<div style="height: 800px;">
  <mwl-calendar-week-view
  [viewDate]="viewDate"
  [weekStartsOn]="1"
  [events]="events"
  [hourSegments]="hourSegments"
  [refresh]="refresh"
  [hourSegmentHeight]="hourSegmentHeight"
  [dayStartHour]="dayStartHour"
  [dayEndHour]="dayEndHour"
  locale="fr"
  [eventTitleTemplate]="eventTitleTemplate"
  (eventClicked)="onEventClick($event.event)">
</mwl-calendar-week-view>
</div>
