<div class="mindmap-canvas" [style.transform]="'scale(' + zoomLevel + ')'">
  <!-- SVG линии -->
  <svg class="mindmap-lines">
    <ng-container *ngFor="let node of nodes">
      <ng-container *ngTemplateOutlet="renderLines; context: { parent: node }"></ng-container>
    </ng-container>

    <ng-template #renderLines let-parent="parent">
      <ng-container *ngIf="parent.expanded !== false">
        <ng-container *ngFor="let child of parent.children">
          <path *ngIf="parent.width && parent.height && child.width && child.height"
                [attr.d]="generatePath(parent, child)" stroke="#aaa" stroke-width="2" fill="transparent" />
          <ng-container *ngTemplateOutlet="renderLines; context: { parent: child }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-template>

  </svg>


  <!-- Компоненты узлов -->
  <ng-container *ngFor="let node of getVisibleNodes(); trackBy: trackById">
    <app-node [node]="node" (add)="addChild($event)" (addSibling)="addSibling($event)" (zoom)="toggleZoom($event)">
    </app-node>
  </ng-container>
</div>

