.mindmap-scroll-container {
  width: 100vw;
    height: calc(95vh - 60px);
    overflow: scroll;
    position: relative;
    background: #b5d1f0;
}

.mindmap-canvas {
  position: relative; /* не absolute! */
  min-width: 1000px;
  min-height: 800px;
  transition: transform 0.3s ease;
  padding: 0; /* будет добавляться динамически */
  transform-origin: 0 0;
  z-index: 0;
}


.mindmap-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  z-index: 0;
}

.zoomed-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transform-origin: center center;
}

.zoom-controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.zoom-controls button {
  background: none;
  border: none;
  font-size: 18px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.zoom-controls button:hover {
  background: #e0e0e0;
}

.node-wrapper.foreground {
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 140, 255, 0.5);
}

.modal {
  /* position: absolute; */
  min-width: 120px;
  padding: 6px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: red; /* временно для теста */
  z-index: 9999 !important;
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;

}

.modal.rule {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
}

.modal.exception {
  top: -50px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.modal.example {
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
}

.modal.exercise {
  top: 50%;
  left: -10px;
  transform: translate(-100%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999; /* под модалками */
}

.modal, .modal-overlay {
  pointer-events: auto;
}
