<div class="node-wrapper" [class.selected]="isSelected" [ngStyle]="{ left: node.x + 'px', top: node.y + 'px' }" (click)="onClick($event)">
  <!-- Кнопка справа (дочерний элемент) -->
  <div class="add-button right" *ngIf="isSelected" (click)="onAddChild($event)" title="добавить дочерний элемент">➕</div>

  <!-- Кнопка снизу (родственный элемент) — только если не корень -->
  <div class="add-button bottom" *ngIf="isSelected && node.parentId" (click)="onAddSibling($event)"
    title="добавить родственную тему">➕</div>

  <!-- Сам узел -->
  <div class="node" [attr.id]="'node-' + node.id">
    <textarea #textAreaRef class="node-title" [(ngModel)]="node.title" rows="1" (click)="$event.stopPropagation()"
      (input)="resizeTextArea($event)">
    </textarea>
  </div>
  <!-- Кнопка сворачивания/разворачивания -->
  <div class="toggle-expand" *ngIf="hasChildren(node)" (click)="onZoom()"
  [title]="node.expanded ? 'Свернуть дочерние элементы' : 'Развернуть дочерние элементы'">
  {{ node.expanded ? '➖' : '➕' }}
</div>


</div>
