.teacher-profile {
  padding: 20px;
}

.back-button-container {
  display: inline-block;
}

.avatar-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background-color: #f5f5f5;
}

.profile-header .profile-info h2 {
  margin: 0;
  font-size: 24px;
}

.profile-header .profile-info .d-flex {
  font-size: 14px;
  color: #6c757d;
}

.actions .btn {
  font-size: 14px;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.simple-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #f8f9fa;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

/* marathons */

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 1rem;
}
.feature-item {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: center;
}
.price-box {
  background: #282c34;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
}
