/* Ограничение ширины контейнера для контента */
.container {
  max-width: 900px; /* Уменьшили ширину для контента */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Вкладки */
.nav-tabs .nav-link {
  color: #6c757d;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #fff;
}

/* Кнопка с отступом снизу */
.btn-primary {
  margin-bottom: 20px;
}

/* Карточка профиля пользователя */
.card {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Центрирование карточки профиля */
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Иконки действий пользователя */
.card-body .fas {
  color: #6c757d;
  font-size: 1.2rem;
}

/* Обводка кнопки профиля */
.btn-outline-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


