.separator {
  display: flex;
  align-items: center;
  color: #9e9e9e; /* Couleur plus foncée */
  font-size: 14px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e0e0e0; /* Couleur de la ligne de séparation */
  margin: 0 8px;
}

.possibility-icon {
  font-size: 1.5rem; /* Modifiez la taille de l'icône si besoin */
  color: #6c757d;
}


.schedule-table td {
  position: relative;
  text-align: center;
}

.schedule-table td .btn {
  display: none;
}

.schedule-table td:hover .btn {
  display: inline-block;
}

.schedule-table td.active-slot {
  color: green;
}

.schedule-table .time-label {
  font-weight: bold;
}

.schedule-table .current-time {
  border-top: 2px solid red;
}

.active-slot {
  background-color: #d1f7c4;
}

.simple-tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
}

.simple-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

