<div class="container my-3">
  <h5>Ученики</h5>

  <!-- Селектор для NPS -->
  <div class="form-group row align-items-center my-2">
    <label class="col-8">Спрашивать NPS</label>
    <div class="col-4">
      <select class="form-select" [(ngModel)]="npsFrequency">
        <option value="never">Никогда</option>
        <option value="weekly">Еженедельно</option>
        <option value="monthly">Ежемесячно</option>
      </select>
    </div>
  </div>

  <!-- Настройки с переключателями -->
  <div class="form-group row align-items-center my-2" *ngFor="let setting of studentSettings">
    <label class="col-8 d-flex align-items-center">
      {{ setting.label }}
      <span class="ms-1" data-bs-toggle="tooltip" title="{{ setting.tooltip }}">&#x3f;</span>
    </label>
    <div class="col-4 text-end">
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" [(ngModel)]="setting.enabled">
      </div>
    </div>
  </div>

  <!-- Кнопка загрузки учеников -->
  <div class="d-flex align-items-center mt-3">
    <label>Выгрузка учеников со статусами (онлайн-уроки)</label>
    <button class="btn btn-primary ms-auto">Загрузить</button>
  </div>
</div>
