<!-- tariff.component.html -->
<div class="container mt-4 d-flex flex-column">
  <app-balance class="mb-4"></app-balance> <!-- Компонент для отображения баланса -->

  <app-tariff-status class="mb-4"></app-tariff-status> <!-- Компонент для отображения статуса тарифа -->

  <!-- Карточки продуктов, размещенные вертикально -->
  <app-product-card [product]="onlineLessonsProduct" class="mb-4"></app-product-card> <!-- Продуктовая карточка -->
  <app-product-card [product]="marathonsProduct" class="mb-4"></app-product-card> <!-- Продуктовая карточка -->
  <app-additional-services class="mt-4"></app-additional-services> <!-- Дополнительные услуги -->
</div>
