<div class="video-call-container" [class.floating]="isFloatingMode" [class.screen-sharing-active]="isScreenSharing" (mousedown)="startDrag($event)">
  <div class="video-container"
       #localVideoContainer
       [style.width.px]="videoWidth"
       [style.height.px]="videoHeight"
       (mouseenter)="showVideoControls()"
       (mouseleave)="hideVideoControls()">

    <video #localVideo autoplay playsinline class="video-stream"></video>

    <!-- Кнопки управления звонком -->
    <button class="control-btn" *ngIf="showControls" (click)="toggleCall()">
      {{ callActive ? '⏹ Завершить' : '▶ Возобновить' }}
    </button>

    <!-- Кнопка "Поделиться экраном" -->
    <button class="control-btn share-screen-btn" *ngIf="showControls" (click)="toggleScreenSharing()">
      {{ isScreenSharing ? '🛑 Остановить экран' : '📺 Поделиться экраном' }}
    </button>


    <!-- Область для изменения размера -->
    <div class="resize-handle" (mousedown)="startResize($event)"></div>
  </div>

  <div id="remote-videos" class="remote-videos">
    <ng-container *ngFor="let uid of remoteUserIds">
      <div class="remote-video-container">
        <video id="remote-video-{{ uid }}" autoplay playsinline class="video-stream"></video>
      </div>
    </ng-container>
  </div>
</div>
