/* Обёртка для основного контейнера */
.dashboard-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

app-sidebar {
  width: 64px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
