/* Обёртка для основного контейнера */
.dashboard-layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Высота на весь экран */
}

/* Сайдбар */
app-sidebar {
  width: 64px; /* Задаём фиксированную ширину для сайдбара */
  background-color: #f4f4f4; /* Светлый фон для наглядности */
  overflow-y: auto;
}

/* Контент */
.dashboard-content {
  flex-grow: 1; /* Занимает всё оставшееся пространство справа */
  padding: 20px; /* Отступы для контента */
  overflow-y: auto;
}
