<div class="form-wrapper">
  <div class="form-container">
    <div class="theme-toggle" (click)="toggleTheme()">
      {{ isDarkTheme ? '☀️ Light' : '🌙 Dark' }}
    </div>
    <div class="logo-container">
      <!-- Здесь можно добавить логотип -->
      <img src="assets/logo/linguaconnect-high-resolution-logo-transparent.png" alt="GalaxyLang Logo" class="main-logo">
    </div>
    <h2>Connexion</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required (blur)="onEmailBlur()" autocomplete="username" />
      </mat-form-field>

      <!-- Выбор роли, если доступно больше одной -->
      <div *ngIf="emailChecked && availableRoles.length > 1" class="role-selection mt-3">
        <p class="mb-2">Choisissez un rôle :</p>
        <mat-button-toggle-group formControlName="selectedRole" class="w-100" appearance="legacy">

          <mat-button-toggle *ngFor="let role of availableRoles" [value]="role">
            {{ role === 'student' ? 'Étudiant(e)' : role === 'teacher' ? 'Enseignant(e)' : role }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width mt-3">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required (focus)="onPasswordFocus()" 
               aria-describedby="password-help"
               aria-required="true"
               autocomplete="current-password" />

        <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword"
          [attr.aria-label]="'Voir mot de passe'" [attr.aria-pressed]="showPassword">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint id="password-help">Entrez votre mot de passe</mat-hint>
      </mat-form-field>



      <!-- Submit -->
      <div class="mt-3">
        <button mat-raised-button type="submit" class="login-button"
          [ngClass]="{ 'disabled-button': loginForm.invalid }" [disabled]="loginForm.invalid">
          Se connecter
        </button>



      </div>

      <!-- Link to register -->
      <div class="auth-link mt-3">
        <div class="auth-question">Pas encore de compte ?</div>
        <a routerLink="/register">Inscrivez-vous</a>
      </div>
    </form>
  </div>
</div>
