<h2 class="lessonView-title">Section 1</h2>
          <div class="lesson-content text-center">
            <img src="https://cdn.cloudstori.com/shells/words_shell/words_shell_3.1.5.15/img/Emoji-145.34d213b2.png"
              alt="Book Icon" />
            <p>В этом разделе еще нет упражнений. Добавьте упражнение.</p>
            <button class="btn btn-primary">Добавить упражнение</button>
          </div>
          <div class="lesson-navigation d-flex justify-content-between mt-3">
            <button class="btn btn-secondary">Назад</button>
            <button class="btn btn-primary">Далее</button>
            <button class="btn btn-danger">Завершить раздел</button>
          </div>
