<div class="container mt-4">
  <form>
    <div class="mb-3">
      <label for="phone" class="form-label">Téléphone</label>
      <input type="text" class="form-control" id="phone" value="+33675738495">
    </div>

    <div class="mb-3">
      <label for="contact-email" class="form-label">E-mail de contact</label>
      <input type="email" class="form-control" id="contact-email" placeholder="E-mail de contact">
    </div>

    <div class="mb-3">
      <label for="vk" class="form-label">VKontakte</label>
      <input type="text" class="form-control" id="vk" placeholder="vk.com/...">
    </div>

    <div class="mb-3">
      <label for="facebook" class="form-label">Facebook</label>
      <input type="text" class="form-control" id="facebook" placeholder="fb.com/...">
    </div>

    <div class="mb-3">
      <label for="instagram" class="form-label">Instagram</label>
      <input type="text" class="form-control" id="instagram" placeholder="instagram.com/...">
    </div>

    <div class="mb-3">
      <label for="youtube" class="form-label">YouTube</label>
      <input type="text" class="form-control" id="youtube" placeholder="youtube.com/...">
    </div>
  </form>
</div>
