<!-- Вкладки для Школы -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="general-settings-tab" data-bs-toggle="tab" href="#general-settings" role="tab">Основные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contacts-tab" data-bs-toggle="tab" href="#contacts" role="tab">Контакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="admins-tab" data-bs-toggle="tab" href="#admins" role="tab">Администраторы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="payments-tab" data-bs-toggle="tab" href="#payments" role="tab">Прием платежей</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="access-control-tab" data-bs-toggle="tab" href="#access-control" role="tab">Контроль доступа</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="students-tab" data-bs-toggle="tab" href="#students" role="tab">Ученики</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="reports-tab" data-bs-toggle="tab" href="#reports" role="tab">Отчеты</a>
  </li>
</ul>

<!-- Контент для вкладок Школы -->
<div class="tab-content mt-4">
  <div class="tab-pane fade show active" id="general-settings" role="tabpanel" aria-labelledby="general-settings-tab">
    <app-general-settings></app-general-settings> <!-- Основные настройки для школы -->
  </div>
  <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
    <app-contacts></app-contacts> <!-- Контакты -->
  </div>
  <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admins-tab">
    <app-admins></app-admins> <!-- Администраторы -->
  </div>
  <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
    <app-payments></app-payments> <!-- Прием платежей -->
  </div>
  <div class="tab-pane fade" id="access-control" role="tabpanel" aria-labelledby="access-control-tab">
    <app-access-control></app-access-control> <!-- Контроль доступа -->
  </div>
  <div class="tab-pane fade" id="students" role="tabpanel" aria-labelledby="students-tab">
    <app-students></app-students> <!-- Ученики -->
  </div>
  <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
    <app-reports></app-reports> <!-- Отчеты -->
  </div>
</div>
